.navbar {
    width: 100%;
    position : sticky;
    top : 0%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 40px;
    background-color : white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index : 5;
}

/* background : d9d9d9 */
.leftNav{
    color : #cf2129;
    font-size : 40px;
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo {
    height:70px;
}
.heading{
    font-weight : bolder;
    font-size: 40px;
    margin : 0;
    padding : 0;
    color : white
}
.navButton{
    border : 2px solid #ffe5e1;
    padding : 10px 15px;
    font-size:17px;
    border-radius:5px;
    font-weight : bold;
    background : #ffe5e1;
    color : #cf2129;
    cursor:pointer;
    transition: 350ms;
}
.navButton:hover{
    transform: translateY(-10px);
    background : white;
    color : black;
}
.largeNav{
    display : flex;
    gap:15px;
}
.smallNav{
    display : none;
}
.menu{
    min-width:200px;
    font-size: 20px;
    background : none;
    border : 1px solid grey;
    color : white;
}
.a{
    color : white;
    background : black;
    text-decoration : none;
}
.menuItem{
    
    padding:10px;
    font-size:16px;
    border:none;
    color : white;
    background:black;
    justify-content:center;
    cursor:pointer;
}
.menuItem:hover{
    background : #d8c3a5;
    color : #e85a4f
}
@media all and (max-width : 950px) and (min-width: 200px){
    .heading{
        display : block;
    }
    .largeNav{
        display : none;
    }
    .smallNav{
        display : block;
    }
}
@media all and (max-width : 350px) and (min-width: 200px){
    
    .heading{
        display: none;
    }
    .logo{
        display : none;
    }
}